{% extends "@admin/base-list.twig" %}

{% block title %}
  Listado de recetas
{% endblock %}

{% block header %}
  <h1>Listado de recetas</h1>
{% endblock %}

{% block ctrls %}
  {% include "@admin/controls/buttons.twig" with {href_add:"receta.php"} %}
{% endblock %}

{% block root %}
  {% if recetas %}
    <table id="table-model" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead class="thead-dark">
      <tr>
        <th style="width: 75px"></th>
        <th>ID</th>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Descripcion</th>
      </tr>
      </thead>
      <tbody>
      {% for receta in recetas %}
        <tr>
          <td>
            receta.php?option=find&id={{ receta.id }},
            receta.php?option=delete&id={{ receta.id }}
          </td>
          <td>{{ receta.id }}</td>
          <td>{{ receta.codigo }}</td>
          <td>{{ receta.nombre }}</td>
          <td>{{ receta.descripcion }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>Sin datos</h2>
  {% endif %}
{% endblock %}